._jvrCont { font-family:Verdana; font-size:0.75em; color:#555555; padding: 1px 5px; border: solid 1px #EEEEEE; margin-top: 1px; }
._jvrCont ._jvrLine {}
._jvrCont ._jvrKey {  }
._jvrCont ._jvrVal { color:#000000; margin-left:5px; }
._jvrCont ._comp { cursor:pointer; }
._jvrCont ._comp:hover { background-color: #F9F9F9; } 

._jvrCont ._arr { color: #777777; font-family: ariel; }
._jvrCont ._obj { color: #777777; font-family: ariel; }
._jvrCont ._fn { color:#638dff; font-style: italic; }
._jvrCont ._str { color:#a31515; }
._jvrCont ._num { color:#00a550; }

